/******************************************************************************
 *
 * slender-base.css
 * Slender theme for Hugo by CrimsonRay
 * https://github.com/CrimsonRay/slender
 *
 *****************************************************************************/

body {
    font-family: "Open Sans", Helvetica, "Microsoft YaHei", sans-serif;
    height: 100%;
    margin: 0;
}

/* Container */

.container {
    min-height: calc(100vh - 68px);
}

.container:after {
    content: "";
    display: block;
    height: 68px;
}

/* Navigation */

nav ul {
    text-align: center;
    padding: 0px;
    margin-top: 0;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-top: 32px;
    margin-left: 12px;
    margin-right: 12px;
    border-bottom: 1px solid transparent;
}

nav li:hover {
    border-bottom: 1px solid #FFF;
}

nav a {
    text-decoration: none;
}

/* Header */

header {
    height: 30%;
}

h1.brand {
    font-family: "Fjalla One", Helvetica, sans-serif;
    font-size: 68px;
    text-transform: uppercase;
    letter-spacing: 6px;
    text-align: center;
}

h1.title {
    font-family: "Fjalla One", Helvetica, sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    margin-top: 112px;
}

header p {
    opacity: 0.8;
    font-size: 22px;
    text-align: center;
    margin-top: 30px;
}

header p a .fa {
    font-size: 34px;
    padding-right: 10px;
}

/* Table of Content */

#toc {
    position: fixed;
    padding: 10px 10px 10px 5px;
    margin-left: 80%;
    overflow: auto;
    border-left: 2px solid;
    max-width: 20%;
    max-height: 50%;
    background-color: #F5F5F5;
}

#toc li {
    margin-top: 6px;
    margin-bottom: 6px;
    display: list-item;
    border-bottom: 0px;
}

#toc a {
    color: black;
}

#toc a:hover {
    border-bottom: 1px solid;
}

#TableOfContents ul {
    text-align: left;
}

@media (max-width: 1360px) {
    #toc {
        display: none;
    }
}

/* Pagination */

.pagination {
    margin-top: 30px;
    padding: 0 0 0 0;
}

.pagination li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    opacity: 0.7;
}

.pagination li.active {
    opacity: 1.0;
}

.pagination li.disabled {
    pointer-events: none;
    opacity: 0.4;
}

/* Images */

figure figcaption {
    margin-top: -40px;
    text-align: center;
}

figure figcaption h4 {
    font-weight: lighter;
}

figure figcaption p {
    margin-top: -20px;
    font-size: 12px;
}

img {
    max-width: 100%;
    height: auto;
}

/* Articles & Comments */

.comment-content,
#article-listing,
.article-content {
    margin: 88px auto;
    max-width: 768px;
}

.article-eof {
    display: block;
    background: #ccc;
    padding: 1px 1px;
    margin: 80px 21%;
}

article {
    margin: 8% 0px;
}

.article-title {
    font-size: 28px;
    line-height: 38px;
}

.article-title a {
    color: #000 !important;
    text-decoration: none;
}

.article-info {
    color: #7e7e7e;
    font-size: 14px;
    margin-top: -20px;
}

.article-summary {
    margin-top: 22px;
    font-size: 16px;
    text-align: justify;
}

.article-read-more {
    margin-top: 8px;
}

.article-content {
    font-size: 14px;
    font-family: Helvetica, sans-serif;
    line-height: 28px;
}

.article-content * a {
    color: #000 !important;
}

/* Terms & Tags & Archive */
.terms-content,
.article-tags {
    margin: 88px auto;
    max-width: 768px;
    text-align: center;
}

.terms-content .tags-list li,
.terms-content .archive-list li,
.article-tags ul li {
    display: inline-block;
    margin: 0px 10px;
    border-bottom: 1px solid transparent;
}

.terms-content li a,
.article-tags li a {
    text-decoration: none;
    color: black;
}

.terms-content .archive-list,
.terms-content .tags-list {
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding: 40px 0px 40px 0px;
}

.terms-content .archive-list,
.terms-content ol.tags-list {
    margin: 0px 10%;
}

.terms-content .archive-list li,
.terms-content ol.tags-list li {
    display: list-item;
    margin: 0px 20%;
    text-align: left;
}

/* Footer */

footer {
    height: 68px;
}

footer p {
    text-align: center;
    padding-top: 24px;
}

/* Blockquote */

blockquote {
    margin-left: auto;
    padding-left: 3%;
    border-left: 2px solid;
    border-color: #000;
}

/*
Table
  see: https://github.com/iissnan/hexo-theme-next/blob/master/source/css/_common/scaffolding/tables.styl
*/

table {
  margin: 20px 0;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  font-size: 14px;
}

table>tbody>tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

table>tbody>tr:hover {
  background-color: #f5f5f5;
}

caption, th, td {
  padding: 8px;
  text-align: left;
  vertical-align: middle;
  font-weight: normal;
}

th, td {
  border-bottom: 3px solid #ddd;
  border-right: 1px solid #eee;
}

th {
  padding-bottom: 10px;
  font-weight: 700;
}

td {
  border-bottom-width: 1px;
}

/* Overflows */

code, pre{
    overflow: auto;
}


/* Smaller screen sizes */

@media (max-width: 768px) {
    header h1 {
        font-size: 48px;
    }
    nav ul li {
        margin-left: 6px;
        margin-right: 6px;
    }

    #article-listing {
        margin: 20px;
    }
    .article-content {
        margin: 20px;
    }

    .MathJax_Display, .MathJax_SVG_Display,
    blockquote {
        overflow: auto;
    }
}
