<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        {{ partial "meta.html" . }}
        <link rel="icon" href="{{ "/assets/favicon.ico" | absURL }}" type="image/x-icon">
        {{ if eq .Site.LanguageCode "zh-Hans" }}
        <link rel="stylesheet" href="{{ "/css/slender-font-zh.css" | absURL }}">
        {{ else }}
        <link rel="stylesheet" href="{{ "/css/slender-font.css" | absURL }}">
        {{ end }}
        <link rel="stylesheet" href="{{ "/css/slender-base.css" | absURL }}">
        <link rel="stylesheet" href="{{ "/css/slender-color-schemes.css" | absURL }}">
        <link rel="stylesheet" href="{{ "/css/font-awesome-4.5.0.min.css" | absURL }}">
        <link rel="stylesheet" href="{{ "/css/highlight-9.1.0-default.min.css" | absURL }}">
        <title>
            {{ if eq .URL "/" }}
                {{ .Site.Title }}
            {{ else }}
                {{ .Title }} &middot; {{ .Site.Title }}
            {{ end }}
        </title>
    </head>
    <body class="color-scheme-{{ .Site.Params.colorscheme }}">
        <div class="container">
            <header>
                {{ with .Site.Menus }}
                <nav><ul>
                    {{ range .main }}
                        <li>
                            <a href="{{ .URL }}">
                                <i class="fa {{ .Identifier }} fa-fw"></i> <br>
                                {{ .Name }}
                            </a>
                        </li>
                    {{ end }}
                </ul></nav>
                {{ end }}
                {{ if eq .Section "page" }}
                    <h1 class="title">{{ .Title }}</h1>
                {{ else if eq .Section "post" }}
                    <h1 class="title">{{ .Title }}</h1>
                    <aside>
                        <p>on <strong>{{ .Date.Format "Mon, Jan 02, 2006" }}</strong></p>
                    </aside>
                {{ else }}
                    <h1 class="brand">{{ .Site.Title }}</h1>
                    <aside>
                        <p>{{ .Site.Params.tagline | safeHTML }}</p>
                    </aside>
                {{ end }}
            </header>
